@import './App.module.scss';
.friendListWrapper {
  color: $color4;
  font-weight: 700;
  margin: 10px;
  text-align: left;
}
.header {
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
    &:hover {
      color: $color5;
    }
  }
}

.headerTitle {
  position: absolute;
  display: flex;
  align-items: center;
  height: 46px;
}

.headerSearchIcon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 46px;
}