@import './App.module.scss';
.main {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: $color1;
  border-bottom: 1px solid $color4;
  box-shadow: 0 0 10px 0 $color4;
  color: $color4;
  font-weight: 800;
}
.headerLogo {
  @include center();
  width: 150px;
  height: $offset-top;
}
.navBar {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 30px;
  div {
    cursor: pointer;
    padding: 20px;
    &:hover {
      color: $color5;
    }
  }
}
.headerOptions {
  display: flex;
  align-items: center;
  div {
    padding: 15px;
    i {
      padding-left: 10px;
    }
  }
}
.body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 'partyList friendList';

  margin-top: $offset-top;
}

.partyList {
  grid-area: partyList;
  background-color: $color2;
}

.friendList {
  grid-area: friendList;
  background-color: $color1;
  box-shadow: 0 0 5px 0 $color4, 5px 0 15px 0 gray;
}