@import './App.module.scss';
.main {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: $color1;
  border-bottom: 1px solid $color4;
  box-shadow: 0 0 10px 0 $color4;
  color: $color4;
  font-weight: 800;
  z-index: 1;
}
.headerContent {
  flex: 1;
  height: 100%;
}
.headerLogo {
  img {
    @include center();
    width: 150px;
    height: 60px;
    height: $offset-top;
    cursor: pointer;
  }
}
.navBar {
  display: flex;
  align-items: center;
  margin-left: 30px;
  div {
    cursor: pointer;
    padding: 20px;
    &:hover {
      color: $color5;
    }
  }
}
.headerOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.searchBar {
  padding: 15px;
  i {
    padding-left: 5px;
    font-size: 0.8rem;
  }
  &:hover {
    color: $color5;
  }
}
.loginIcon {
  padding: 15px
}
.userName{
  @include center();
  padding: 15px;

  &:hover {
    color: $color5;
  }
  div {
    font-size: 1.2rem;
  }
  i {
    display: flex;
    align-items: flex-end;
    height: 20px;
    padding-left: 5px;
    font-size: 0.3rem;
  }
}
.userProfile {
  @include center();
  flex-direction: column;
  border: 1px solid $color4;
  border-radius: 5px;
  width: 100px;
  padding: 5px 15px;
  font-size: 1rem;
  background-color: white;

  div {
    padding: 3px;
    width: 100%;
    &:not(:first-child) {
      border-top: 1px solid $color4;
    }
    &:hover {
      color: $color5;
    }
  }
}
.body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 'partyList friendList';

  margin-top: $offset-top;
}

.partyList {
  grid-area: partyList;
  background-color: $color2;
}

.friendList {
  grid-area: friendList;
  position: relative;
  background-color: $color1;
  box-shadow: 0 0 5px 0 $color4, 5px 0 15px 0 gray;
}