ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #42b983;
  transition: 300ms;
}
.partyList-parties-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.partyList-party  {
  border: 1px #9097fd solid;
  margin: 1rem;
}
.create-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 230px;
}
.create-room img {
  cursor: pointer;
  width: 50px;
}
.partyList-details-wrapper {
  display: flex;
  flex-direction: column;
}
.partyList-detail {
  display: flex;
  justify-content: space-around;
}
.partyList-intro {
  text-align: center;
  border-top: 1px gainsboro solid;
}